In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('FINAL_DRAFT.csv')
dataset.head()

,STATE,TYPE,NWSC,NCO,RRK,RPP,FDP,EMP,FP,PICES,PSIESC,SD,SL,SSV,PF,SCORE,RANK
0,KERALA,Government,19,6,12,6,5,8,1,1,8,48,48,9,4,15.83,1
1,WEST BENGAL,Government,18,8,9,14,3,6,2,0,7,44,43,7,8,14.54,2
2,MAHARASHTRA,Government,10,5,10,4,1,9,1,1,1,50,49,5,7,14.52,3
3,KERALA,Government,10,6,12,16,6,15,1,1,6,45,35,3,8,14.32,4
4,KERALA,Government,14,3,7,7,1,9,0,0,3,47,47,7,10,14.32,5

### Importing ML functions

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [4]:
#selecting X and y

X = dataset[['NWSC', 'NCO', 'RRK', 'EMP', 'RPP', 'FDP', 'FP', 'PSIESC', 'PICES','SD', 'SL', 'SSV', 'PF']]
y = dataset['SCORE']

# splitting dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.35, random_state=101)

#making model
lm = LinearRegression()
lm.fit(X_train, y_train)

#making predictions
predictions = lm.predict(X_test)

np.round(r2_score(y_test, predictions)*100)

51.0

In [5]:
coeff_df = pd.DataFrame(lm.coef_,X.columns,columns=['Coefficient'])
coeff_df.T

,NWSC,NCO,RRK,EMP,RPP,FDP,FP,PSIESC,PICES,SD,SL,SSV,PF
Coefficient,0.005747,-0.013009,-0.009302,-0.010653,-0.007318,0.027835,0.065359,0.001659,-0.007566,0.03461,0.092117,0.094632,0.092865

### making predictions

In [6]:
import pickle
pickle.dump(lm, open('lm_model.pkl','wb'))

In [7]:
print(lm.score(X_test,y_test))
print(lm.score(X_train,y_train))
print(lm.coef_)
print(lm.intercept_)

0.5107973805112451
0.5078957231857233
[ 0.00574712 -0.0130095  -0.00930245 -0.01065297 -0.00731795  0.02783524
  0.0653587   0.00165949 -0.00756595  0.0346101   0.0921169   0.094632
  0.09286532]
5.62384692263923